# Grab All Matching Files

In [112]:
from FindFiles import find_files

#root = "/Users/simon.hughes/Google Drive/PhD/Data/CoralBleaching"
root = "/Users/simon.hughes/Google Drive/PhD/Data/SkinCancer"

#folder = "/Users/simon.hughes/Google Drive/Phd/Data/CoralBleaching/BrattData/EBA1415_Merged/"
if "coral" in root.lower():
    folder = root + "/BrattData/EBA1415_Merged/"
else:
    folder = root + "/EBA1415_Merged/"

files = find_files(folder, ".*\.ann", True)
#files

# How Many Essays and Lines Have Anaphors and Rhetoricals in them?

In [144]:
from collections import defaultdict

to_match = ["rhetorical", "Anaphor"]
matching_files = defaultdict(set)
matching_lines = defaultdict(list)

total_line_count = 0
total_coreferent_lines = 0
for f in files:
    with open(f, "r+") as fin:
        for line in fin.readlines():
            total_line_count += 1
            has_coreferent = False
            for annot in to_match:
                if "\t%s " % annot in line:
                    matching_files[annot].add(f)
                    matching_lines[annot].append(line)
                    has_coreferent = True
            if has_coreferent:
                total_coreferent_lines += 1
                
NUM_DIGITS = 2
for annot in to_match:
    m_files = matching_files[annot]
    m_lines = matching_lines[annot]
    print annot.ljust(10), #len(m_files), len(files), 
    print str(round(100.0*float(len(m_files)) / len(files),NUM_DIGITS)) + "% of essays\n",
    
    #not accurate vvv
    #print str(round(100.0*float(len(m_lines)) / total_line_count,NUM_DIGITS)) + "% of lines"

rhetorical 1.17% of essays
Anaphor    29.72% of essays

### How Many Essays and Sentences Contain Some Coreference Reference?

In [145]:
all_rhetorical = matching_files["rhetorical"].union(matching_files["Anaphor"])
print "Essays:   ", len(all_rhetorical), "coreferents", len(files), "essays", str(100.0 * round(len(all_rhetorical) / float(len(files)),3)) + "%"

#Not accurate vvv
#print "Sentences:", total_coreferent_lines, "coreferents", total_line_count, "lines", str(100.0 * round(total_coreferent_lines / float(total_line_count),3)) + "%"

Essays:    333 coreferents 1107 essays 30.1%

# How Many Sentences Have Cross-Sentence Causal Relations?
We can't compute this directly without manually analyzing the data. But we can approximate it by looking at sentences containing some causal relation where one or both parts of the relation are not contained within the sentence

In [115]:
#Load output file - has original annotation data in it
import pandas as pd

fname = root + "/Results/causal_codes_for_analysis.txt"
#fname = /Users/simon.hughes/Google Drive/PhD/Data/CoralBleaching/Results/predictions-causal_relations.txt"
#fname = "/Users/simon.hughes/Google Drive/PhD/Data/SkinCancer/Results/predictions.txt"
data = pd.read_csv(fname, sep="|")
data["Concept Codes"] = data["Concept Codes"].astype(str).apply(lambda s: "" if s == "nan" else s)
data["Predictions"] = data["Predictions"].astype(str).apply(lambda s: "" if s == "nan" else s)
data[["Essay","Concept Codes", "Predictions"]].head(10)

,Essay,Concept Codes,Predictions
0,EBA1415_AEKD_4_SC_ES-05566.ann,,
1,EBA1415_AEKD_4_SC_ES-05566.ann,,
2,EBA1415_AEKD_4_SC_ES-05566.ann,50,50
3,EBA1415_AEKD_4_SC_ES-05566.ann,,
4,EBA1415_AEKD_4_SC_ES-05566.ann,,
5,EBA1415_AEKD_4_SC_ES-05566.ann,,
6,EBA1415_AEKD_4_SC_ES-05566.ann,"1,2,_C->R,_CRel,_RRel,Causer,Result,Causer:1,R...","1,2,_C->R,_CRel,_RRel,Causer,Result,Causer:1,R..."
7,EBA1415_AEKD_4_SC_ES-05566.ann,"1,50,_C->R,_CRel,_RRel,Causer,Result,Causer:1,...",
8,EBA1415_AEKD_4_SC_ES-05566.ann,,
9,EBA1415_AEKD_4_SC_ES-05566.ann,,"_C->R,_CRel,_RRel,Causer,Result,explicit,Cause..."

In [116]:
def to_concepts_only(s):
    splt = s.split(",")
    if not splt:
        return set()
    filtered = filter(lambda s: s and s[0].isdigit() and not "-" in s, splt)
    return set(filtered)

def is_causal(s):
    return s.startswith("Causer:") and "->Result:" in s

def to_relations_only(s):
    splt = s.split(",")
    if not splt:
        return set()
    filtered = filter(lambda s: s and is_causal(s), splt)
    cleaned = map(lambda s: s.replace("Causer:","").replace("Result:",""), filtered)
    return set(cleaned)

def set_to_str(a_set):
    if len(a_set) == 0:
        return "-"
    return ",".join(sorted(a_set))

data["Codes"] = data["Concept Codes"].apply(to_concepts_only)
data["sCodes"] = data["Codes"].apply(set_to_str)
data["Causal"] = data["Concept Codes"].apply(to_relations_only)
data["sCausal"] = data["Causal"].apply(set_to_str)
#del data["Concept Codes"]
#data["Flt_Preds"] = data["Predictions"].apply(to_concepts_only)
#del data["Predictions"]

In [117]:
data[["Codes", "sCodes", "Causal", "sCausal"]].head(10)

          Codes sCodes        Causal sCausal
0       set([])      -       set([])       -
1       set([])      -       set([])       -
2     set([50])     50       set([])       -
3       set([])      -       set([])       -
4       set([])      -       set([])       -
5       set([])      -       set([])       -
6   set([1, 2])    1,2   set([1->2])    1->2
7  set([1, 50])   1,50  set([1->50])   1->50
8       set([])      -       set([])       -
9       set([])      -       set([])       -

In [118]:
data[data["sCausal"] != "-"]["Concept Codes"].values

array([ '1,2,_C->R,_CRel,_RRel,Causer,Result,Causer:1,Result:2,explicit,Causer:1->Result:2',
       '1,50,_C->R,_CRel,_RRel,Causer,Result,Causer:1,explicit,Result:50,Causer:1->Result:50',
       '4,5,_C->R,_CRel,_RRel,Causer,Result,Causer:4,Result:5,explicit,Causer:4->Result:5',
       ...,
       '_C->R,_CRel,_RRel,Causer,Result,Causer:5,Result:6,explicit,Causer:5->Result:6',
       '5,6,50,_C->R,_CRel,_RRel,Causer,Result,Causer:5,Causer:6,Result:6,explicit,Result:50,Causer:5->Result:6,Causer:6->Result:50',
       '5,50,_C->R,_CRel,_RRel,Causer,Result,Causer:5,explicit,Result:50,Causer:5->Result:50'], dtype=object)

In [119]:
causal = data[data["sCausal"] != "-"]
causal[["sCodes","sCausal"]].head()

   sCodes sCausal
6     1,2    1->2
7    1,50   1->50
15    4,5    4->5
24    4,5    4->5
26   2,50   2->50

In [120]:
from __future__ import division
len(causal), len(data), round(100* len(causal)/ len(data),2)

(4025, 9693, 41.52)

In [121]:
#causal[causal["sCodes"] == "-"][["sCausal", "sCodes"]]
len(causal[causal["sCodes"] == "-"])

360

In [122]:
cross_sent_count = 0
examplars = []
for i, row in causal[["Codes", "sCausal"]].iterrows():
    codes = row["Codes"]
    s_causal_relns = row["sCausal"]
    #if causal == "-":
    #    continue
    if not codes:
        cross_sent_count +=1
        continue
    for rel in s_causal_relns.split(","):
        rcodes = rel.split("->")
        assert len(rcodes) == 2, "wrong number of codes: {0}, relation: {1}".format(len(rcodes), rel)
        assert all(map(lambda s: s[0].isdigit(), rcodes)), "not all codes are numeric {0}".format(rel)
        if not all(map(lambda c: c in codes, rcodes)):
            examplars.append((codes, rel, rcodes))
            cross_sent_count +=1
            break
cross_sent_count, len(examplars)

(793, 433)

In [123]:
#Sanity Check
examplars[0:20]

[({'50'}, '12->50', ['12', '50']),
 ({'50'}, '5->6', ['5', '6']),
 ({'4'}, '4->5', ['4', '5']),
 ({'5'}, '4->5', ['4', '5']),
 ({'3'}, '12->3', ['12', '3']),
 ({'3', '4'}, '12->3', ['12', '3']),
 ({'2', '50'}, '5->50', ['5', '50']),
 ({'5'}, '5->50', ['5', '50']),
 ({'2', '50'}, '5->50', ['5', '50']),
 ({'5'}, '5->50', ['5', '50']),
 ({'12'}, '12->3', ['12', '3']),
 ({'2', '5'}, '5->6', ['5', '6']),
 ({'3'}, '3->4', ['3', '4']),
 ({'12', '3'}, '3->4', ['3', '4']),
 ({'4', '5'}, '11->12', ['11', '12']),
 ({'11', '50'}, '11->12', ['11', '12']),
 ({'3', '4', '50'}, '3->6', ['3', '6']),
 ({'5'}, '5->6', ['5', '6']),
 ({'11'}, '11->12', ['11', '12']),
 ({'12', '3'}, '11->12', ['11', '12'])]

In [124]:
pctCrossing = 100.0 * cross_sent_count / len(causal)
round(pctCrossing,2), cross_sent_count, len(causal)

(19.7, 793, 4025)

## ** CONCLUSION ** Around 20% of the Causal Relations Are Cross Sentences

## For Comparison with the Anaphora and Rhetorical Counts, We need to Compute % of Lines

In [125]:
print round(100*cross_sent_count / total_line_count,2), "% of lines have cross-sentence causal relations"

2.09 % of lines have cross-sentence causal relations

# Both Datasets (CB and SK) Aggregated

CB

Essays:    281 coreferents   1154  essays 24.4%

(20.19% causal references cross sentences, 550 causal, 2724 causal references)

SC

Essays:    333 coreferents   1107  essays 30.1%

(19.7, 793, 4025)

TOTAL
Essays:

In [136]:
"Essays",     281 + 333, 1154 + 1107, str(round((281 + 333.0) / (1154 + 1107) * 100.0,2)) + "%"

('Essays', 614, 2261, '27.16%')